<div id="delete">
 <h1>We're sorry to see you go</h1>
 <h2>Press the button below</h2>
 <h3>You had your chance</h3>
 <h4>This is it</h4>
 <%= link_to 'Destroy', @user, data: { comfirm: "yer makin a bad decision",method: :delete,}, class: 'btn btn-danger btn-md' %>

</div>
