// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
 height: 100%;
}

body {
 overflow-x: hidden;
}
.navbar-default .navbar-brand {
 font-size: 40px;
 font-family: 'Pacifico', cursive;
 color: red;
 margin: 15px 0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: #337ab7;;
}
.navbar-custom {
 background-color: #D5896F;
 border-radius: 3px;
 height: 50px;
}

.navbar-toggle {
 margin: 25px 0;
 margin-right: 10px;
 border: none;
 &:hover {
    background: transparent !important;
  }
}

body {
 margin-top: 120px;
}
.navbar-nav {
 margin-top: 3px;
 font-family: 'Montserrat',serif;
 margin-top: 15px;


}
.dropdown-toggle {
 font-size: 15px;
 text-transform: uppercase;
}
.dropdown-menu {
 text-align: right;
 border-radius: 2px;
}
* {
    margin: 0;
}



.texas {
 margin-top: 20px;
 width: 78px;
}

.btn-signup {
 background-color: #65c6c3;
 color: #fff;
}

.white-btn {
 a {
  color: #fff !important;
 }
 a:hover {
  background-color: #5bd2ce !important;
 }

}
