// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* profile */
.info {
  border: solid 3px black;
}
.prof-info {
 font-size: 22px;
 margin-top: 20px;
}
.col-centered {
  text-align: center;
  .btn-new {
    width: 250px;
    margin-bottom: 20px;
  }
}
/* ------- */

.log-in {
  width: 50%;
  margin:0 auto;
  text-align:center;
  padding-top:10%;
  font-family: 'Roboto', Arial, sans-serif;
  .panel-heading {
    background-color: #F90133;
  }
  .panel-body {
  background-color: #E4E6E8;
  }
  .form-control {
    width: 75%;
    margin:auto;
  }
}
.panel-body {
  color:#555;
}
.btn-wide {
 width: 50%;
}



/* edit user */

#edit {
 text-align: center;
 h1 {
  font-family: 'Montserrat', serif;

 }

 .img-field {
  margin: 0 auto;
 }
 .form{
  &-group{
   margin: 0 auto;
  }
  &-control{
   text-align: center;
   width: 60%;
   margin: 0 auto;
  }
  &-img {
   text-align: center;
  }

 }
}

.btn {
 border-radius: 2px !important;
}

.edit-panel {
 margin: 0 auto;
 width: 80%;
}
.btn-submit {
 width: 60%;
 margin: 10px auto;
}

/* bye user */
#delete {
 text-align: center;
 h1 {
  font-size: 80px;

 }
 h2 {
  font-size: 70px;
 }
 h3 {
  font-size: 60px;
 }
 h4 {
  font-size: 50px;
 }
}
/* post index */

#index {
 margin: 0 auto;
 width: 100%;
 a {
  text-decoration: none;
 }
 a:hover {
  text-decoration: none;
  color: #d3d3d3;
 }
 h1 {
  font-size: 28px;
 }
 .actions {
  display: inline-block;

 }
 .form{
  &-control {
   width: 50%;
  }
 }

}
.img-size {
 width: 220px;

}
.about {
 font-size: 18px;
 margin-bottom: 2px;
}
#name {
 font-size: 25px;
}
