// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/* landing */
#header {
 margin-top: -40px;
 background-color: #65c6c3;
 height: 800px;
 text-align: center;
 color: white;
 a {
  font-family: 'Lato', serif;
 }
 h1 {
  font-size: 200px;
  font-family: 'Pacifico', serif;

 }
 h3 {
  font-family: 'Pacifico', serif;
  color: #337ab7;
 }
}


#login {
 margin-bottom: 100px;
}




/* profile */
.thumbnail {
  width: 100%;
  margin-top: 10px;
}

.prof-info {
 font-size: 22px;
 margin-top: 20px;
}
.col-centered {
  text-align: center;
  .btn-new {
    width: 250px;
    margin-bottom: 20px;
  }
}
/* ------- */

.img-circle {
 &-prof {
  width: 300px;
  height: 300px;
  border-radius: 150px;
 }
}
.prof-img {
 width: 250px;
}

#taco {
 width: 200px;
 margin-top: 20px;
 padding-bottom: -30px;
}

.btn-login {
 background-color: red;
 border-radius: 50%;
 font-family: 'Pacifico', serif;
}

.log-in {
  width: 50%;
  margin:0 auto;
  text-align:center;
  padding-top:10%;
  font-family: 'Roboto', Arial, sans-serif;
  .panel-heading {

  }
  .panel-body {
  background-color: #E4E6E8;
  }
  .form-control {
    width: 75%;
    margin:auto;
  }
  .btn-block {
   margin: 0 auto;
   width: 75% !important;
  }
}
.panel-body {
  color:#555;
}
.btn-wide {
 width: 50%;
}



/* edit user */

#edit {
 text-align: center;
 h1 {
  font-family: 'Montserrat', serif;

 }

 .img-field {
  margin: 0 auto;
 }
 .form{
  &-group{
   margin: 0 auto;
  }
  &-control{
   text-align: center;
   width: 60%;
   margin: 0 auto;
  }
  &-img {
   text-align: center;
  }

 }
}

.btn {
 border-radius: 2px !important;
}

.edit-panel {
 margin: 0 auto;
 width: 80%;
}
.btn-submit {
 width: 60%;
 margin: 10px auto;
}

/* bye user */
#delete {
 text-align: center;
 h1 {
  font-size: 80px;

 }
 h2 {
  font-size: 70px;
 }
 h3 {
  font-size: 60px;
 }
 h4 {
  font-size: 50px;
 }
}
/* post index */

#index {
 margin: 0 auto;
 width: 100%;

 .fa {
  margin: 0 5px;
 }
 a {
  text-decoration: none;
 }
 a:hover {
  text-decoration: none;
  color: #d3d3d3;
 }
 h1 {
  font-size: 28px;
 }
 .actions {
  display: inline-block;

 }
 .form{
  &-control {
   width: 50%;
  }
 }

}
.img-size {
 width: 220px;

}
.about {
 font-size: 18px;
 margin-bottom: 2px;
}
#name {
 font-size: 25px;
}
.username {
 color: #808080;
}

@media screen and (max-width: 900px) {
 .panel-default {
  text-align: center;
 }
 .panel-body {
  width: 100%;
  margin: 0 auto !important;
 }
}
